{% extends 'base.html.twig' %}

{% block body %}
<div class="home_container">
    <h1>Accueil</h1>
    <p>Nullam nec felis sit amet nisi egestas sodales sed vel turpis. Vivamus mollis est vel ex sollicitudin ullamcorper. Donec vulputate lobortis tellus, vitae facilisis erat dapibus eu. Nullam dapibus id nibh sit amet semper. Aliquam pharetra, quam non auctor tempus, arcu lectus pellentesque est, vel commodo justo ante nec est. Vivamus consectetur, purus nec pharetra ullamcorper, quam quam porttitor nisl, sit amet viverra est purus vel ligula. Aenean malesuada, justo in condimentum pharetra, eros velit viverra neque, eget ullamcorper nibh enim sit amet metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Etiam posuere neque quis rutrum rutrum. Integer volutpat mollis felis quis cursus. Nulla quis ultricies ipsum. Proin diam nisi, dictum vel dictum non, dapibus id justo. Fusce congue id dui eu aliquet. Nullam orci mi, imperdiet et enim sit amet, mattis auctor turpis. Aliquam non massa quis nulla malesuada aliquet.</p>
</div>
{% endblock %}